.page-header {
  color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 25px;
  margin: 0 auto;
}

.page-header__wrapper {
  width: auto;
}

.page-header__logo {
  display: block;
  height: 70px;
  padding: 0 20px;
}

.page-header__nav {
  flex-grow: 1;
}

.page-header__toggle {
  position: absolute;
  top: 25px;
  right: 20px;
  z-index: 2;
  display: block;
  width: 25px;
  height: 20px;
  cursor: pointer;
  padding: 0;
  background-color: #ffffff;
  border: none;
}

.page-header__menu-wrapper {
  min-width: 280px;
}

.page-header__list {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.page-header__item {
  display: flex;
  min-height: 70px;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #e6e6e6;
}

.page-header__link {
  font-size: 20px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
}

.page-header__nav--closed .page-header__toggle::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 2px;
  top: 0;
  right: 0;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000,
      0 16px 0 0 #000000;
}

.page-header__nav--open .page-header__toggle {
  content: "";
  content: "";
  position: absolute;
  top: 25px;
  right: 15px;
  width: 26px;
  height: 20px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 1px;
    width: 25px;
    height: 2px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.page-header__nav--nojs .page-header__toggle {
  display: none;
}

@media (max-width: 767px) {
  .page-header__nav--closed .page-header__list {
    display: none;
  }
}

@media (min-width: 768px) {
  .page-header__list {
    justify-content: flex-end;
    flex-direction: row;
    flex-grow: 1;
  }

  .page-header__nav--closed .page-header__toggle {
    display: none;
  }

  .page-header__nav--open .page-header__toggle {
    display: none;
  }

  .page-header__item {
    border: 0;
    min-height: 70px;
    margin-left: 35px;
  }

  .page-header__wrapper {
    width: 92%;
    max-width: 1122px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
  }
}

@media (min-width: 1300px) {
}
