.page-header {
  color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 25px;
  margin: 0 auto;
}

.page-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-header__logo {
  display: block;
  height: 70px;
}

.page-header__nav {
  background-color: #64a83b;
  flex-grow: 1;
}

.page-header__toggle {
  display: none;
}

.page-header__menu-wrapper {
  min-width: 280px;
}

.page-header__list {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
  flex-direction: column;
  color: #ffffff;
  background-color: #64a83b;
}

.page-header__link {
  color: #ffffff;
}

@media (min-width: 768px) {
  .page-header__list {
    flex-direction: row;
  }
}
