.page-footer__socials-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  min-height: 65px;
  width: 150px;
  list-style: none;
  align-items: center;
}

.page-footer__copyright {
  text-align: left;
  display: flex;
  width: 100%;
  vertical-align: middle;
  min-height: 80px;
  font-size: 16px;
  align-items: center;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  color: #444444;
}

.page-footer__logo {
  display: flex;
  width: 100%;
  min-height: 95px;
  justify-content: center;
}

@media (min-width: 768px) {
  .page-footer__contacts {
    display: flex;
    justify-content: space-between;
  }

  .page-footer__logo {
    width: 33%;
    align-items: center;
    justify-content: left;
    min-height: 150px;
  }

  .page-footer__socials-list {
    width: 33%;
    justify-content: center;
    min-height: 150px;
  }

  .page-footer__socials-item {
    margin-right: 30px;
  }

  .page-footer__copyright {
    width: 33%;
    justify-content: flex-end;
    min-height: 150px;
  }
}

@media (min-width: 1300px) {
  .advantages__item {
    width: 245px;

    &:not(:last-child) {
      margin-right: 80px;
    }
  }
}
