.page-main {
  margin: 0 auto;
  font-family: "Oswald", "Arial", sans-serif;
}

.page-main__slogan {
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
}

.page-main__intro {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
}

.page-main__btn {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  background-color: #64a83b;
  color: #ffffff;
}
